* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f2f2f2;
}

.navbar {
    background: #222;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;   
    top: 0;
    z-index: 1000;      
}


.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    height: 60vh;
    background: url("https://picsum.photos/1600/800") center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.btn {
    background: gold;
    color: black;
    padding: 12px 20px;
    width: fit-content;
    text-decoration: none;
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.form-section, .contact, .rooms, .info {
    padding: 40px;
}

input, select, button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}
